<section>
    <div class="form-box">
      <div class="form-value">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h2>Formulário</h2>
          <div class="inputbox">
            <input type="text" formControlName="nomeCompleto">
            <label>Nome completo</label>
          </div>
          <div class="inputbox">
            <input type="email" formControlName="email">
            <label>Email</label>
          </div>
          <div class="inputbox">
            <input type="text" formControlName="cpf">
            <label>CPF</label>
          </div>
          <div class="inputbox">
            <input type="date" formControlName="dataNascimento">
            <label>Data de Nascimento</label>
          </div>
          <div class="inputbox">
            <input type="text" formControlName="telefone" (input)="formatarTelefone($event)">
            <label>Telefone</label>
          </div>
          <div class="inputbox">
            <input type="password" formControlName="password">
            <label>Senha</label>
          </div>
          <button type="submit" [disabled]="!loginForm.valid">Criar conta</button>
        </form>
      </div>
    </div>
  </section>