<section>
    <div class="form-box">
      <div class="form-value">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h2>Formulário</h2>
          <div class="inputbox">
            <input type="text" id="username" formControlName="username">
            <label for="username">Usuário</label>
          </div>
          <div class="inputbox">
            <input type="password" id="senha" formControlName="senha">
            <label for="senha">Senha</label>
          </div>
          <div class="forget">
            <a (click)="irParaEsqueciSenha()" id="forgot-password">Esqueci a senha</a>
          </div>
          <button type="submit" id="button-entrance">Entrar</button>
          <button type="button" (click)="trocarTela()" id="button-create-account">Criar conta</button>
        </form>
      </div>
    </div>
  </section>